<!-- ./views/shortener.handlebars -->
<div class="align-self-center mt-5" style="width: 100%;">
  <div class="d-flex flex-column align-self-center" style="max-width: 50%; margin:auto">
    <h2 class="align-self-center">URL Shortener</h2>
    <div class="align-self-center mb-5">
      <i class="fas fa-link fa-7x" style="color:cornflowerblue;"></i>
    </div>
    <div class="mt-5">
      <h2>Success! Please use this link:</h2>
      <a id="copyUrl" href="{{ link }}" style="display: block;">{{ link }}</a>
      {{!-- copy按鈕 --}}
      <div class="align-self-center d-flex flex-column mt-3" style="width: 100%;">
        <button type="button" style="width: 20%; margin:auto; display:block" class="btn btn-primary"
          onclick="copyEvent('copy')">Copy</button>
        <script>
          function copyEvent() {
            var range, selection, worked
            var element = document.getElementById('copyUrl')
            if (document.body.createTextRange) {
              range = document.body.createTextRange()
              range.moveToElementText(element)
              range.select()
            } else if (window.getSelection) {
              selection = window.getSelection()
              range = document.createRange()
              range.selectNodeContents(element)
              selection.removeAllRanges()
              selection.addRange(range)
            }
            try {
              document.execCommand('copy')
              alert('複製成功')
            }
            catch (err) {
              alert('複製失敗')
            }
          }
        </script>

      </div>
    </div>
  </div>